* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrapper {
    flex: 1 0 auto;
}

nav {
    background-color: #111;
    margin: 0;
    min-height: 65px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin:0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #111;
}

nav ul li a:hover {
    border: 1px solid #fff;
}

.disabled {
    background-color: #fff;
    color: #000;
    cursor: initial;
    border: 1px solid #fff;
}

#ban1 {
    background-color: #50f;
}

#ban2 {
    background-color: #50fe;
}

#ban3 {
    background-color: #50fd;
}

#ban4 {
    background-color: #50fc;
}

#ban5 {
    background-color: #50fb;
}

#ban6 {
    background-color: #50fa;
}

#ban7 {
    background-color: #50f9;
}

#ban8 {
    background-color: #50f8;
}

#ban9 {
    background-color: #50f7;
}

#ban10 {
    background-color: #50f6;
}

#ban11 {
    background-color: #50f5;
}

#ban12 {
    background-color: #50f4;
}

#ban13 {
    background-color: #50f3;
}

#ban14 {
    background-color: #50f2;
}

#ban15 {
    background-color: #50f1;
}

#ban1, #ban2, #ban3, #ban4, #ban5, #ban6, #ban7, #ban8, #ban9, #ban10, #ban11, #ban12, #ban13, #ban14, #ban15 {
    min-height: 4px;
}

.main-content {
    width: 55%;
    border-radius: 5px;
    margin: 2rem auto;
    padding: 10px;
}

pre {
    width: 100%;
    text-align: center;
    margin: auto;
}

code {
    background-color: #ddd;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

tr :nth-child(1) {
    font-weight: bold;
}

td {
    padding: 5px;
    border: 1px solid #0b2094;
}

p {
    margin: 20px;
}

ol {
    margin: 0 55px;
}

h1 {
    border: 1px solid #0b2094;
    border-radius: 0 10px 0 10px;
    font-size: 35px;
    line-height: 40px;
    padding: 5px 25px;
}

h2 {
    border-bottom: 1px solid #0b2094;
    margin-left: 45px;
    margin-right: 45px;
}

h3 {
    margin-left: 60px;
    color: #0b2094;
}

footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    background-color: #111;
    color: #fff;
}

footer span {
    width: 15%;
}