* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrapper {
    flex: 1 0 auto;
}

nav {
    background-color: #111;
    margin: 0;
    min-height: 65px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin:0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #111;
}

nav ul li a:hover {
    border: 1px solid #fff;
}

.disabled {
    background-color: #fff;
    color: #000;
    cursor: initial;
    border: 1px solid #fff;
}

#ban1 {
    background-color: #50f;
    min-height: 20px;
}

#ban2 {
    background-color: #070;
    min-height: 20px;
}

#ban3 {
    background-color: #c11;
    min-height: 20px;
}

.main-content {
    width: 55%;
    border-radius: 5px;
    margin: 2rem auto;
    padding: 10px;
}

pre {
    max-width: 50%;
    margin: auto;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

tr :nth-child(1) {
    font-weight: bold;
}

td {
    padding: 5px;
    border: 1px solid #269;
}

code {
    background-color: #ddd;
}

p {
    margin: 20px;
}

ol {
    margin: 0 55px;
}

h1 {
    border: 1px solid #269;
    border-radius: 0 10px 0 10px;
    font-size: 35px;
    line-height: 40px;
    padding: 5px 25px;
}

h2 {
    border-bottom: 1px solid #269;
    margin-left: 45px;
    margin-right: 45px;
}

footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    background-color: #111;
    color: #fff;
}

footer span {
    width: 15%;
}